@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&display=swap");

@import "tailwindcss";

@theme {
  --font-parkinsans: "Parkinsans";
  --font-dm: "dm-serif";
  --font-inter: "Inter";
  --color-primary: #005455;
  --color-text: #1f2933;
  --color-border: #eeeeee;
  --color-alarm: #a4161a;
  --color-success: #1e624d;
  --color-bread: #b3b3b3;
  --color-CTA: #e76f51;
}
